<div class="main-div">
    <div class="add-item">
        <form [formGroup]="addTodoForm" (ngSubmit)="onSubmit()" class="todo">
            <mat-form-field>
                <mat-label>Add new todo item</mat-label>
                <input matInput formControlName="todoItem" type="text" class="add-text">
                <button *ngIf="addTodoForm.value['todoItem']"  matSuffix mat-icon-button aria-label="Clear" type="reset" >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="accent" [disabled]="!addTodoForm.valid" type="submit">Add</button>
        </form>
    </div>
    <p>{{remainingTodos}} of {{totalTodos}} tasks remaining</p>
    <ul *ngFor="let todo of todos">
        <li class="todo" >
            <mat-checkbox [checked]="todo.completed" [id]="todo.id+'c'" (change)="switchComplete($event, todo.id)"><h2 [style]="style(todo.id)">{{todo.task}}</h2></mat-checkbox>
            <button mat-mini-fab color="accent" [id]="todo.id" (click)="deleteTodo($event)"><mat-icon>close</mat-icon></button>            
        </li>
    </ul>
</div>